.navbar-brand img{
    width: 100px;
    height: auto;
}

*{
    font-family: "SoDoSans-Regular";
}

@font-face {
    font-family: "SoDoSans-Light";
    src: url(./assets/fonts/SoDoSans-Light.ttf);
}

@font-face {
    font-family: "SoDoSans-Regular";
    src: url(./assets/fonts/SoDoSans-Regular.ttf);
}

@font-face {
    font-family: "SoDoSans-SemiBold";
    src: url(./assets/fonts/SoDoSans-SemiBold.ttf);
}

.ls-1px{
    letter-spacing: 1px;
}

.button:focus{
    outline: none !important;
    box-shadow: none !important;
}

.boxshadow-bottom{
    box-shadow: 
    0 1px 0px rgb(0, 0, 0, .0), 
    0 3px 0px rgb(0, 0, 0, .10),
    0 0px 0px rgb(0, 0, 0, .00);
}

.boxshadow-bottom-sinsombra{
    box-shadow: 
    0 0px 0px rgb(0,0,0,.1),
    0 0px 0px rgb(0,0,0,.00),
    0 0px 0px rgb(0,0,0,.00);
}

.boxshadow-bottom-predeterminado{
    box-shadow: 
    0 1px 3px rgb(0,0,0,.1),
    0 2px 2px rgb(0,0,0,.06),
    0 0px 2px rgb(0,0,0,.07);
}

.p-2{
    padding: 2rem !important
}

.ff-SoDoSans-SemiBold{
    font-family: "SoDoSans-SemiBold" !important;
}

.fs-90{
    font-size: .90rem !important;
}

.text-decoration-none{
    text-decoration: none;
}

.fs-1-3{
font-size: 1.3 rem !important;
}

.fs-2-5{
    font-size: 2.5rem !important;
}

.nav-link-ps{
    text-decoration: none !important;
}

.nav-link-ps ion-icon {
    font-size: 1.2rem;
    color: #03036a;
    margin-right: 5px;
}

.nav-link-ps span{
    color: #03036a;
}

.nav-link-ps:hover span{
    color: #0000ea !important;
}

.nav-link-ps:hover ion-icon{
    color: #0000ea !important;
}

.btn-white{
    border: 1px solid #000;
    border-radius: 2rem;
    padding: 3px 18px;
    font-size: .9rem;
    background-color: white;
}

.btn-white:hover{
    background-color: #f1f1f1;
}

.btn-blue{
    border: 1px solid #000;
    border-radius: 2rem;
    padding: 3px 18px;
    font-size: .9rem;
    background-color: #030d44;
    color: white;
}

.btn-blue:hover{
    background-color: #0728e3;
}

.btn-transp{
    border: 1px solid #ffffff;
    border-radius: 2rem;
    padding: 3px 18px;
    font-size: .9rem;
    background-color:transparent ;
    color: white;
}

.btn-transp:hover{
    background-color: #010415;
 }

.text-green-hover:hover{
    color:#0000ea !important;
}

.card-ps{
    padding: 3rem;
}

.text-green{
    color: #f7f7f8 !important;
}

.link-social{
    padding: 5px;
    background-color: #0505a4;
    border-radius: 100px;
    width: 50;
    height: 50;
}

.link-social ion-icon{
    color: white;
    font-size: 1.2rem;
    margin-top: 6px;
}

.sub-bar{
    background-color: #f9f9f9;
    color: rgb(21, 20, 20);
    padding-top: 5px;
    padding-top: 5px;
    text-align: center;
}